
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

    
 body{
    font-family: "EB Garamond", serif;
 }

.example-text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;  
    /* font-weight: <weight>; */
    font-style: normal;
}

main {
    padding: 40px;
  }
  
  /* .about-us{
    display: flex;
    margin-bottom: 40px;
  }
   */
  .our-mission {
    display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
    
  }
  
  /* .about-us-image{
    width: 50%;
    border-radius: 10px;
  } */
  .mission-image {
    flex: 1;
    max-width: 50%;
    border-radius: 10px;
  }
  
  /* .about-us-content, */
  .mission-content {
    width: 60%;
    padding: 20px;
    flex: 1;
    padding: 0 20px;
  }
  
  
  .h2 {
    margin-bottom: 30px;
  }
  
  .p {
    line-height: 2.2;
    font-size: 20px;
    word-spacing: 1.3rem;
  }

  .about-us {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
}

.about-us-image {
  flex: 1;
  max-width: 50%;
  border-radius: 10px;
}

.about-us-content {
  flex: 1;
  padding: 0 20px;
}

.h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.p {
  line-height: 1.6;
  margin: 0;
}
